.instilogo {
    height: 50px;
    filter: grayscale(20%);
}

a:hover {
    /* font-weight: 400; */
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    /* color: #444; */
}


.noter {
    font-size: 10pt;
}

.job-note {
  background-color: rgba(210, 233, 226, 0.4); /* soft green */
  border-left: 4px solid #006400;
  border-radius: 6px;
  color: #333;
  line-height: 1.4;
  padding: 6px 10px;
  margin-top: 15px;    /* space above the note */

  top: 20px;   /* distance from top while scrolling */
  max-width: 100%;     /* ensures it doesn’t overflow */
  word-wrap: break-word; /* wraps long words/links */
  box-sizing: border-box; /* padding included in width */
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
    font-variant: small-caps;
    font-size: 0.9rem; /* adjust size as needed */
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.paper.highlight {
  background-color: rgba(210, 233, 226, 0.4); /* soft green with 70% opacity */
  border-radius: 7px;                        /* rounded corners */
  padding: 8px 12px;                          /* breathing room */
  transition: background-color 0.3s ease;     /* smooth hover effect */
}

.paper.highlight:hover {
  background-color: rgba(210, 233, 226, 0.75);   /* stronger green on hover */
}


.menulink:hover {
    color: #111;
}

.profilepic {
    width: 150px;
    border-radius: 25%;
    filter: grayscale(30%);
}

@media (min-width: 768px) {
    .fixed-posi {
        /* width: 50%;
            margin-left: 50%;
            min-height:100%; */
        /* position: fixed;
        width: 20%; */
        position: sticky;
        top: 20px;   /* keeps it in view while scrolling */
        width: 100%; /* respect the column width */
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 150px;
        border-radius: 10%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        filter: grayscale(20%);
    }

    .menur {
        padding-top: 18px !important;
    }

}

.thisauthor {
          color: #111;
          text-decoration: underline;
    }